<!-- connectionString="Server=POLINA\SERVER;Database=Beauty_Salon;Trusted_Connection=true;TrustServerCertificate=true;MultipleActiveResultSets=true" -->
<configuration>
	<connectionStrings>
		<add name="CarRentalDb"
			 connectionString="Server=DESKTOP-U9E74DJ\SQLEXPRESS;Database=CarRental;Trusted_Connection=true;TrustServerCertificate=true;MultipleActiveResultSets=true"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
