@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <p>Время выбрать автомобиль</p>

    <p>
        <a class="btn btn-primary btn-lg" asp-controller="Cars" asp-action="Index">Смотреть автомобили</a>
    </p>
</div>
