<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="CarRentalDb" connectionString="Server=DESKTOP-U9E74DJ\SQLEXPRESS;Database=CarRental;Trusted_Connection=true;TrustServerCertificate=true;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
<!-- connectionString="Server=POLINA\SERVER;Database=CarRental;Trusted_Connection=true;TrustServerCertificate=true;MultipleActiveResultSets=true"-->